/********** General ***********/
h1 {
font-family: "shrikhand", sans-serif;
color: black;
}

h2, h3, p, a {
font-family: "Roboto", sans-serif;
box-sizing: border-box;
}

body {
margin: 0;
display: flex;
flex-direction: column;
max-width: 1920px;
margin: auto;
}

.main {
margin-top: 0px;
}

a {
text-decoration: none;
cursor: pointer;
}

* {
box-sizing: border-box;
}

.fade-in-image {
animation: fadeIn 1s;
}

@keyframes fadeIn {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}


/*****variables*****/
$color-main: #eaeaea;
$color-white: white;
$color-lightgreen: #99e2d0;
$color-lightgrey: #f6f6f6;

/*****************header*******************/

.header {
   
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 63px;
    max-width: 1920px;
    margin-top: 10px;
    img {
        position: relative;
        margin: 0;
        text-align: center;
        width: 50%;
        height: 36px;
    }

    i {
    position: absolute;
    color: black;
    font-size: 20px;
    top: 24px;
    width: 30px;
    height: 30px;
    left: 25px;
    }
}   

/******************** menus ******************** */

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    .menu_image{
        object-fit: cover;
        width: 100%;
        max-height: 275px;
    }
    .menuheading{
    margin-top: -50px;
    padding: 20px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-color: $color-lightgrey;
  
        .title {
            width: 100%;
            margin: auto;
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            position: relative;
            align-items: center;
            justify-content: center;
            gap: 20px;
            
            .menu-hearts {
                display: flex;
                justify-content: flex-end;
            }
            .empty-heart > div {
                margin-right: 50px;
                font-size: 30px;
            }
            .empty-heart {
                position: absolute;
                font-size: 30px;
            }
            .full-hearts {
                position: absolute;
                opacity: 0;
                transition: all 2s;   
                color: transparent;
                background-image: linear-gradient(#9356dc, #FF79da);
                background-clip: text;
                -webkit-background-clip: text;        
                &:hover {
                    opacity: 1;
                }
            
            }  
            h1 {
                font-weight: 400;
                font-size: 28px;
                text-align: center;
            }
            i {
                font-size: 30px;
                color: black;
            }
        }
        h2 {
            margin-top: 40px;
            margin-bottom: 15px;
            font-size: 16px;
            font-weight: 300;
        }
        .spanh2 {
            border-bottom: 3px solid $color-lightgreen;
        }

        .card {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: 69px;
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
            border-radius: 15px;
            position: relative;
            background-color: $color-white;
            justify-content: space-between;
            overflow: hidden;
            margin-bottom: 20px;
            gap: 5px;
            
            .p {
                font-weight: 500;
                font-size: 16px;
            }
            .card-text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-left: 20px;
                white-space: nowrap;
                width: 80%;
            
                h3 {
                    margin: 0px;
                    font-size: 18px;
                    font-weight: 500;
                    overflow: hidden;
                    text-overflow: ellipsis;

                }
                p {
                    margin: 0px;
                    font-size: 15px;
                    font-weight: 300;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            .price {
                position: absolute;
                right: 10px;
                font-weight: 700;
                font-size: 15px;
            }
            .animation-check {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                height: 69px;
                background-color: $color-lightgreen;
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
                width: 0;
            }
            
            .fa-circle-check {
                color: $color-white;
                font-size: 20px;
            }

            &:hover .animation-check {
                animation: slideIn 200ms ease-in-out forwards;
                background-color: $color-lightgreen;
                width: 10%;
            }
            &:hover .price {
                animation: slideInPrix 200ms ease-in-out forwards;
            }
            &:hover .fa-circle-check {
            animation: spin 1s;
            }
        }
    }       
}
@keyframes spin{
    from {
        transform: rotate(100deg);
    }
    to {
        transform: rotate(80deg);
    }
}

@keyframes slideIn {
from {
    right: -10%;
}

to {
    right: 0px;
}
}

@keyframes slideInPrix {
from {
    right: 0;
}

to {
    right: 10%;
}
}
main .section1 {
    animation: sideSlide 1s ease-out 0.5s forwards;
    opacity: 0;
}
  
main .section2 {
    animation: sideSlide 1s ease-out 1s forwards;
    opacity: 0;
}
  
main .section3 {
    animation: sideSlide 1s ease-out 1.5s forwards;
    opacity: 0;
}
@keyframes sideSlide {
    0% {
      opacity: 0;
      margin-left: -200px;
      margin-right: -200px;
    }
  
    50% {
      opacity: 0.5;
    }
  
    100% {
      opacity: 1;
      margin-left: 0;
      margin-right: 0;
    }
}
 
main .price {
    position: relative;
    font-size: 15px;
    font-weight: 700;
    padding-right: 20px;
    padding-top: 25px;
}


/*******Footer******/

footer {
    width: 100%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: #353535;

    h1 {
        color: $color-white;
        font-size: 18px;
        font-weight: 400;
        padding-top: 10px;
    }
    
        .footer-link {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        
        .footer-row {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 15px;
            
            
            i {
                width: 13px;
            }
            
            p {
                font-weight: 500;
            }
        }   
    a,
    p {
        font-size: 16px;
        font-weight: 400;
        color: $color-white;
        margin: 0;
    }
    
}   

.button {
    margin: auto;
    width: 60%;
    height: 50px;
    font-weight: 500;
    background: linear-gradient(to bottom, #ff79da, #9356DC);
    font-size: 16px;
    border-radius: 30px;
    border: solid 0px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
    margin-bottom: 50px;
    transition: all 400ms;
    color: $color-white;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
    opacity: 0.85;
    box-shadow: 2px 4px 10px 4px rgba(0, 0, 0, 0.25);
    }
    
    
}

/********************** Desktop ***************** */
@media (min-width: 1024px) {

    /****header*****/
    
    .header{
        margin-bottom: 10px;
    }
    /***************body************** */
    main {
      width: 100%;
      display: flex;
      align-items: center;
        .menu_image {
            max-height: 383px;
        }
        .menuheading{
         width: 75%;
    
            .title {
            justify-content: center;
            gap: 20px;
            }  
            .section1,
            .section2,
            .section3 {
                padding-left: 140px;
                padding-right: 140px;
            }
            .button {
                max-width: 22%;
                margin-top: 0;
                margin-bottom: 30px;
            }
        }
    }

    
    /***************** footer *********** */
    footer {
      flex-direction: row-reverse;
      align-items: center;
      gap: 100px;
      height: 114px;
      padding-top: 110px;
        h1 {
          padding-bottom: 20px;
        }
  
        .footer-link {
          flex-direction: row;
          align-items: center;
        }
      
        .footer-row .space-footer {
          margin-right: 40px;
        }
    }
}           