/********** General ***********/
h1 {
  font-family: "shrikhand", sans-serif;
  color: black;
}

h2, h3, p, a {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  margin: auto;
}

.main {
  margin-top: 0px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

.fade-in-image {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*****variables*****/
/*****************header*******************/
.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 63px;
  max-width: 1920px;
  margin-top: 10px;
}
.header img {
  position: relative;
  margin: 0;
  text-align: center;
  width: 50%;
  height: 36px;
}
.header i {
  position: absolute;
  color: black;
  font-size: 20px;
  top: 24px;
  width: 30px;
  height: 30px;
  left: 25px;
}

/******************** menus ******************** */
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
}
main .menu_image {
  object-fit: cover;
  width: 100%;
  max-height: 275px;
}
main .menuheading {
  margin-top: -50px;
  padding: 20px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: #f6f6f6;
}
main .menuheading .title {
  width: 100%;
  margin: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
main .menuheading .title .menu-hearts {
  display: flex;
  justify-content: flex-end;
}
main .menuheading .title .empty-heart > div {
  margin-right: 50px;
  font-size: 30px;
}
main .menuheading .title .empty-heart {
  position: absolute;
  font-size: 30px;
}
main .menuheading .title .full-hearts {
  position: absolute;
  opacity: 0;
  transition: all 2s;
  color: transparent;
  background-image: linear-gradient(#9356dc, #FF79da);
  background-clip: text;
  -webkit-background-clip: text;
}
main .menuheading .title .full-hearts:hover {
  opacity: 1;
}
main .menuheading .title h1 {
  font-weight: 400;
  font-size: 28px;
  text-align: center;
}
main .menuheading .title i {
  font-size: 30px;
  color: black;
}
main .menuheading h2 {
  margin-top: 40px;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 300;
}
main .menuheading .spanh2 {
  border-bottom: 3px solid #99e2d0;
}
main .menuheading .card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 69px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  position: relative;
  background-color: white;
  justify-content: space-between;
  overflow: hidden;
  margin-bottom: 20px;
  gap: 5px;
}
main .menuheading .card .p {
  font-weight: 500;
  font-size: 16px;
}
main .menuheading .card .card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  white-space: nowrap;
  width: 80%;
}
main .menuheading .card .card-text h3 {
  margin: 0px;
  font-size: 18px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .menuheading .card .card-text p {
  margin: 0px;
  font-size: 15px;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .menuheading .card .price {
  position: absolute;
  right: 10px;
  font-weight: 700;
  font-size: 15px;
}
main .menuheading .card .animation-check {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 69px;
  background-color: #99e2d0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 0;
}
main .menuheading .card .fa-circle-check {
  color: white;
  font-size: 20px;
}
main .menuheading .card:hover .animation-check {
  animation: slideIn 200ms ease-in-out forwards;
  background-color: #99e2d0;
  width: 10%;
}
main .menuheading .card:hover .price {
  animation: slideInPrix 200ms ease-in-out forwards;
}
main .menuheading .card:hover .fa-circle-check {
  animation: spin 1s;
}

@keyframes spin {
  from {
    transform: rotate(100deg);
  }
  to {
    transform: rotate(80deg);
  }
}
@keyframes slideIn {
  from {
    right: -10%;
  }
  to {
    right: 0px;
  }
}
@keyframes slideInPrix {
  from {
    right: 0;
  }
  to {
    right: 10%;
  }
}
main .section1 {
  animation: sideSlide 1s ease-out 0.5s forwards;
  opacity: 0;
}

main .section2 {
  animation: sideSlide 1s ease-out 1s forwards;
  opacity: 0;
}

main .section3 {
  animation: sideSlide 1s ease-out 1.5s forwards;
  opacity: 0;
}

@keyframes sideSlide {
  0% {
    opacity: 0;
    margin-left: -200px;
    margin-right: -200px;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    margin-left: 0;
    margin-right: 0;
  }
}
main .price {
  position: relative;
  font-size: 15px;
  font-weight: 700;
  padding-right: 20px;
  padding-top: 25px;
}

/*******Footer******/
footer {
  width: 100%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: #353535;
}
footer h1 {
  color: white;
  font-size: 18px;
  font-weight: 400;
  padding-top: 10px;
}
footer .footer-link {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .footer-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
footer .footer-row i {
  width: 13px;
}
footer .footer-row p {
  font-weight: 500;
}
footer a,
footer p {
  font-size: 16px;
  font-weight: 400;
  color: white;
  margin: 0;
}

.button {
  margin: auto;
  width: 60%;
  height: 50px;
  font-weight: 500;
  background: linear-gradient(to bottom, #ff79da, #9356DC);
  font-size: 16px;
  border-radius: 30px;
  border: solid 0px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 50px;
  transition: all 400ms;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button:hover {
  opacity: 0.85;
  box-shadow: 2px 4px 10px 4px rgba(0, 0, 0, 0.25);
}

/********************** Desktop ***************** */
@media (min-width: 1024px) {
  /****header*****/
  .header {
    margin-bottom: 10px;
  }
  /***************body************** */
  main {
    width: 100%;
    display: flex;
    align-items: center;
  }
  main .menu_image {
    max-height: 383px;
  }
  main .menuheading {
    width: 75%;
  }
  main .menuheading .title {
    justify-content: center;
    gap: 20px;
  }
  main .menuheading .section1,
  main .menuheading .section2,
  main .menuheading .section3 {
    padding-left: 140px;
    padding-right: 140px;
  }
  main .menuheading .button {
    max-width: 22%;
    margin-top: 0;
    margin-bottom: 30px;
  }
  /***************** footer *********** */
  footer {
    flex-direction: row-reverse;
    align-items: center;
    gap: 100px;
    height: 114px;
    padding-top: 110px;
  }
  footer h1 {
    padding-bottom: 20px;
  }
  footer .footer-link {
    flex-direction: row;
    align-items: center;
  }
  footer .footer-row .space-footer {
    margin-right: 40px;
  }
}/*# sourceMappingURL=stylemenus.css.map */